<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644140426285-porkbdcpjtj045sko5no5anrf14t8sae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644140426285-porkbdcpjtj045sko5no5anrf14t8sae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644140426285-1l1dfe4mv2lib1duf6j5qb339qb68in3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB88QeAa6jXjZ6tC8QItyhlzSBwRvGw6WU</string>
	<key>GCM_SENDER_ID</key>
	<string>644140426285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.femidof.socially</string>
	<key>PROJECT_ID</key>
	<string>socially-f2c81</string>
	<key>STORAGE_BUCKET</key>
	<string>socially-f2c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644140426285:ios:bc19b16d462b7800b6c4a4</string>
	<key>DATABASE_URL</key>
	<string>https://socially-f2c81.firebaseio.com</string>
</dict>
</plist>